html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("https://wallpaperaccess.com/full/188560.jpg");
  /* background: rgb(238, 174, 202);
  background: -moz-linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(127, 255, 241, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(127, 255, 241, 1) 100%);
  background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(127, 255, 241, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca", endColorstr="#7ffff1", GradientType=1); */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Coiny', cursive;
  display: grid;
  grid-template-areas:
    "header header header"
    "aside-left main aside-right";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
}


header {
  grid-area: header;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 35px;
  margin-top: 1.8%;
  margin-bottom: -1%;
}

h4  {
  margin: 0px;
}

h3 {
  font-size: 21px;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside {
  font-size: 26px;
  display: flex;
  flex-direction: column;
}

.left-size {
  grid-area: aside-left;
}

.right-side {
  grid-area: aside-right;
}

header,
h4,
h5 {
  color: white;
  text-align: center;
}

h5 {
  font-size: 17px;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  background-color: white;
  border-radius: 12px;
  opacity: 70%;
}

.game-choice-btn,
.change-game-btn {
  background-color: #f58cb6;
  border-radius: 12px;
  opacity: 100%;
  border: 0px;
  font-family: 'Coiny', cursive;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.game-choice-btn {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  height: 44%;
  width: 55%;
  /* margin: 5%; */
}

.classic-choice {
  margin-top: 5%
}

.difficult-choice {
  height: 70%;
  margin-top: 4%;
}

.game-title  {
  font-size: 21px;
}

.title-difficult {
  margin-top: -10%;
}

.game-options {
  font-size: 18px;
  margin-bottom: -2%;
}

.difficult-player-icons,
.classic-player-icons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.player-buttons{
  background-color: transparent;
  border: none;
  margin: 0px;
  padding:  0px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

img {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.hidden  {
  display: none;
}
